@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(360deg);
  }

  6% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: skewX(20deg) translateX(0);
  }
}

@keyframes appear-right {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: skewX(-10deg) translateX(0);
  }
}

:root {
  --pulsate-animation: pulsate;
  --rotate-animation: rotate-anim;
  --appear-left-animation: appear-left;
  --appear-right-animation: appear-right;
}
