*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px */

  @include respond(85.5em) {
    font-size: 50%;
  }

  @include respond(62.5em) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
