@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin forwardAnim {
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@mixin respond($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin box-shadow($color) {
  -webkit-box-shadow: white 5px 5px 0px -2px, $color 5px 5px;
  -moz-box-shadow: white 5px 5px 0px -2px, $color 5px 5px;
  box-shadow: white 5px 5px 0px -2px, $color 5px 5px;

  &:hover {
    -webkit-box-shadow: white -5px -5px 0px -2px, $color -5px -5px;
    -moz-box-shadow: white -5px -5px 0px -2px, $color -5px -5px;
    box-shadow: white -5px -5px 0px -2px, $color -5px -5px;
  }
}
