:root {
  --color-white: #fff;
  --color-black: #0a0016;

  --color-purple: #a95fff;
  --color-dark-purple: #6a3f9b;

  --color-purple-600: #7b2cd7;

  --color-error: #ee6a6a;
  --color-secondary: #d1425f;

  --color-grey-800: #2c2c2c;
  --color-grey-700: #424242;
  --color-grey-500: #5e5e5e;
  --color-grey-400: #848484;
  --color-grey-200: #d5d5d5;
  --color-grey-100: #e7e7e7;
  --color-grey-50: #f6f6f6;
}

$color-white: #fff;
$color-black: #0a0016;
$color-dark-grey: #424242;
$color-purple: #a95fff;
$color-dark-purple: #6a3f9b;
$color-error: #ee6a6a;
$color-secondary: #d1425f;

$cardColors: (
  peasant: linear-gradient(40deg, rgb(58, 49, 40), rgb(100, 82, 68)),
  blacksmith:
    linear-gradient(
      40deg,
      rgb(0, 0, 0) 20%,
      rgb(34, 34, 34) 25%,
      rgb(0, 0, 0) 30% 60%,
      rgb(70, 70, 70) 70%,
      rgb(0, 0, 0) 80%
    ),
  knight:
    linear-gradient(
      40deg,
      rgb(40, 71, 40) 10%,
      rgb(12, 27, 12) 20%,
      rgb(45, 92, 45) 40% 60%,
      rgb(80, 128, 80) 70%,
      rgb(38, 71, 38) 80%,
      rgb(29, 54, 29) 85%
    ),
  paladin:
    linear-gradient(50deg, rgb(78, 20, 172), rgb(29, 0, 75), rgb(19, 0, 49)),
  wizard:
    linear-gradient(
      40deg,
      rgb(56, 1, 56) 10%,
      rgb(158, 4, 158) 35%,
      rgb(41, 0, 41) 50%,
      rgb(94, 24, 94) 65%,
      rgb(41, 0, 41) 75%
    ),
  king:
    linear-gradient(
      40deg,
      rgb(102, 59, 3) 10%,
      rgb(216, 125, 7) 25%,
      rgb(102, 59, 3) 40% 50%,
      rgb(255, 188, 62) 70%,
      rgb(102, 59, 3) 95%
    ),
  dragon:
    linear-gradient(
      40deg,
      rgb(22, 0, 4) 15%,
      rgb(66, 17, 26) 20%,
      rgb(22, 0, 4) 25% 35%,
      rgb(46, 1, 10) 45%,
      rgb(220, 20, 60) 60%,
      rgb(46, 1, 10) 75%,
      rgb(22, 0, 4) 80%
    ),
);

// DOT PATTERN VARIABLES
$bg-color: $color-white; //rgb(57, 43, 126)
$dot-color: $color-black;
$dot-size: 1px;
$dot-space: 13px;
