.home {
  background: linear-gradient(rgba($color-black, 0.4), rgba($color-black, 0.4)),
    url("/src/assets/mythical-books-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;

  & h2 {
    font-family: "Quintessential", cursive;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    color: $color-white;
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    content: "";
    height: 100%;
    z-index: 1;
  }

  &::before {
    width: 70%;
    left: 15%;
    right: 25%;
    transform: skew(50deg);
    background: linear-gradient(
      to bottom,
      transparent 5%,
      rgba(86, 1, 134, 0.4) 40%,
      transparent 90%
    );
  }

  &::after {
    width: 100%;
    left: -50%;
    right: 25%;
    transform: skew(-60deg);
    background: linear-gradient(
      to right,
      transparent 50%,
      rgba(29, 0, 75, 0.8)
    );
  }

  &__content {
    position: absolute;
    z-index: 10;
    left: 30%;
    bottom: 50%;
    transform: rotate(-30deg);
    color: white;
  }

  &__title {
    font-size: 8rem;
    font-weight: 100;
    font-family: "Quintessential", cursive;
  }

  &__slogan {
    position: absolute;
    bottom: -1rem;
    right: -12rem;
    font-size: 3rem;
    opacity: 0.7;

    & span {
      position: relative;
    }

    & span::before {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      height: 0.3rem;
      width: 100%;
      background-color: white;
    }
  }
}

.works {
  @include flexCenter;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  width: 100vw;
  background-color: $color-white;
  color: $color-black;

  &__heading {
    margin-bottom: 6rem;

    h2 {
      color: $color-black;
    }

    p {
      font-size: 2rem;
      margin-top: -1rem;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 70%;
    padding: 4rem 0;
  }
}

.subscription {
  @include flexCenter;
  flex-direction: column;
  position: relative;
  min-height: 100rem;
  width: 100vw;
  padding: 8rem 2rem;
  color: $color-white;
  background-color: #131313;

  &__heading {
    position: relative;

    h2,
    p {
      position: relative;
      z-index: 3;
    }

    h2 {
      font-size: 6rem;
    }

    p {
      font-size: 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      right: -10%;
      top: -35%;
      z-index: 2;
      height: 100%;
      width: 80%;
      background: linear-gradient(
            90deg,
            $bg-color ($dot-space - $dot-size),
            transparent 1%
          )
          center,
        linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%)
          center,
        $dot-color;
      background-size: $dot-space $dot-space;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      z-index: 1;
      height: 0.3rem;
      width: 10rem;
      background-color: $color-white;
    }
  }

  &__arrow {
    @include flexCenter;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    font-size: 4rem;
    color: $color-white;
    background-color: rgba(41, 30, 99, 0.7);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;

    &--left {
      left: 35%;
    }

    &--right {
      right: 35%;
    }
  }

  &__cards {
    @include flexCenter;
    overflow: hidden;
    height: 80rem;
    width: 100%;
  }
}
