*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px */ }
  @media only screen and (max-width: 85.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

button {
  border: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.hidden {
  display: none; }

.first-letter-uppercase::first-letter {
  text-transform: uppercase; }

.navbar {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0.5rem 2rem;
  transition: all 0.5s; }
  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    min-width: 25%;
    gap: 3rem; }
  .navbar__link {
    font-size: 1.6rem;
    position: relative;
    cursor: pointer; }
    .navbar__link a:link,
    .navbar__link a:visited {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #fff; }
      .navbar__link a:link::before,
      .navbar__link a:visited::before {
        content: "";
        position: absolute;
        bottom: -8px;
        width: 0px;
        height: 2px;
        transition: all 0.2s ease;
        transition-duration: 0.45s;
        opacity: 0;
        background-color: white;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px; }
  .navbar__link:hover a::before {
    width: 100%;
    opacity: 1; }
  .navbar__link:hover .navbar__icon--store {
    color: #d1425f; }
  .navbar__link:hover .navbar__icon--works {
    color: magenta; }
  .navbar__link:hover .navbar__icon--benefits {
    color: cyan; }
  .navbar__link:hover .navbar__icon--subscriptions {
    color: #d373ff; }
  .navbar__link:hover .navbar__icon--log {
    color: goldenrod; }

.input-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 3px;
  border: 1px solid rgba(10, 0, 22, 0.5);
  background-color: rgba(128, 0, 128, 0.04);
  color: rgba(10, 0, 22, 0.5); }
  .input-group__error {
    border-color: #ee6a6a; }
    .input-group__error i {
      color: #ee6a6a; }
  .input-group__container {
    width: 80%; }
  .input-group__text {
    position: absolute;
    top: 50%;
    left: 4rem;
    transform: translateY(-50%);
    transition: all 0.2s;
    text-transform: capitalize;
    pointer-events: none; }
  .input-group__field {
    padding: 0.5rem;
    border: none;
    background-color: transparent !important;
    width: 100%; }
    .input-group__field:focus {
      outline: none; }
    .input-group__field:-webkit-autofill, .input-group__field:-webkit-autofill:hover, .input-group__field:-webkit-autofill:focus, .input-group__field:-webkit-autofill:active {
      transition: background-color 50000s ease-in-out 0s; }
  .input-group__field:focus + label,
  .input-group .filled {
    transform: translate(-4rem, -5rem); }
  .input-group:focus-within {
    border: 1px solid #a95fff;
    background-color: transparent; }
    .input-group:focus-within i {
      color: #a95fff; }
    .input-group:focus-within label {
      color: #0a0016; }

.btn {
  cursor: pointer;
  position: relative;
  padding: 1rem 3rem;
  color: #a95fff;
  letter-spacing: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  user-select: none; }

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1; }

.btn:hover {
  color: #fff;
  transition-delay: 0.5s; }

.btn:hover:before {
  transition-delay: 0s; }

.btn:hover:after {
  background: #a95fff;
  transition-delay: 0.35s; }

/* From Top */
.from-top:before,
.from-top:after {
  left: 0;
  height: 0;
  width: 100%; }

.from-top:before {
  bottom: 0;
  border: 1px solid #a95fff;
  border-top: 0;
  border-bottom: 0; }

.from-top:after {
  top: 0;
  height: 0; }

.from-top:hover:before,
.from-top:hover:after {
  height: 100%; }

/* From Left */
.from-left:before,
.from-left:after {
  top: 0;
  width: 0;
  height: 100%; }

.from-left:before {
  right: 0;
  border: 1px solid #a95fff;
  border-left: 0;
  border-right: 0; }

.from-left:after {
  left: 0; }

.from-left:hover:before,
.from-left:hover:after {
  width: 100%; }

/* From Right */
.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%; }

.from-right:before {
  left: 0;
  border: 1px solid #a95fff;
  border-left: 0;
  border-right: 0; }

.from-right:after {
  right: 0; }

.from-right:hover:before,
.from-right:hover:after {
  width: 100%; }

/* From center */
.from-center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid #a95fff;
  border-left: 0;
  border-right: 0; }

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #a95fff; }

.from-center:hover:before {
  left: 0;
  width: 100%; }

.from-center:hover:after {
  top: 0;
  height: 100%; }

/* From Bottom */
.from-bottom:before,
.from-bottom:after {
  left: 0;
  height: 0;
  width: 100%; }

.from-bottom:before {
  top: 0;
  border: 1px solid #a95fff;
  border-top: 0;
  border-bottom: 0; }

.from-bottom:after {
  bottom: 0;
  height: 0; }

.from-bottom:hover:before,
.from-bottom:hover:after {
  height: 100%; }

.btn--reverse {
  color: #fff;
  transition: all 500ms cubic-bezier(1, 0.175, 0, 0.77); }

.btn--reverse:hover {
  color: #a95fff;
  transition-delay: 0.25s; }

.btn--reverse:hover:before {
  transition-delay: 0.5s; }

.btn--reverse:after {
  background: #a95fff; }

.btn--reverse:hover:after {
  background: transparent;
  transition-delay: 0.2s; }

.from-left--reverse:before,
.from-left--reverse:after {
  top: 0;
  width: 0;
  height: 100%; }

.from-left--reverse:before {
  right: 0;
  border: 1px solid #a95fff;
  border-left: 0;
  border-right: 0; }

.from-left--reverse:after {
  left: 0; }

.from-left--reverse:before,
.from-left--reverse:after {
  width: 100%; }

.from-left--reverse:hover:before,
.from-left--reverse:hover:after {
  width: 1px; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  text-align: center;
  padding-top: 2rem;
  width: 30rem;
  min-height: 45rem;
  color: #fff;
  background-color: rgba(106, 63, 155, 0.15);
  border: 1px solid #6a3f9b;
  border-radius: 4px; }
  .card--out-of-stock {
    border-color: #424242;
    background-color: rgba(66, 66, 66, 0.15); }
    .card--out-of-stock button {
      background-color: #424242 !important;
      cursor: not-allowed !important; }
  .card__title {
    font-size: 2.5rem;
    font-weight: 100; }
  .card__author {
    font-size: 1.6rem;
    margin-top: -1rem; }
  .card__price {
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    background-color: #458545; }
    .card__price--out-of-stock {
      background-color: #dc143c; }
    .card__price--free {
      background-color: #1381ff; }
  .card button {
    background-color: #6a3f9b;
    color: #fff;
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    cursor: pointer; }
  .card__whishlist, .card__favorites {
    position: absolute;
    top: 1rem;
    font-size: 2.5rem;
    cursor: pointer; }
    .card__whishlist span, .card__favorites span {
      position: absolute;
      top: 3.5rem;
      left: 0;
      font-size: 1.2rem;
      background-color: #544d5c;
      color: #fff;
      padding: 0.5rem;
      border-radius: 3px;
      min-width: 8rem;
      opacity: 0; }
    .card__whishlist:hover span, .card__favorites:hover span {
      opacity: 1; }
  .card__whishlist {
    right: 1rem;
    color: #6666e6; }
  .card__favorites {
    right: 4rem;
    color: #fa4c6f; }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: auto;
  padding-left: 5rem;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Quintessential", cursive; }
  .logo img {
    transition: all 0.2s; }
  .logo__container {
    transition: all 0.2s;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden; }
  .logo__panel {
    position: absolute;
    z-index: -1;
    height: 100%;
    background-color: #a95fff; }
    .logo__panel--1 {
      transform: skewX(35deg);
      opacity: 0.1;
      width: 30rem; }
    .logo__panel--2 {
      transform: skewX(-10deg);
      opacity: 0.2;
      width: 31rem; }
    .logo__panel--3 {
      transform: skewX(20deg);
      opacity: 0.3;
      width: 30rem; }
    .logo__panel--4 {
      transform: skewX(-30deg);
      opacity: 0.2;
      width: 28rem; }

.ratings {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem; }
  .ratings:hover .ratings__ratings-info {
    opacity: 1; }
  .ratings__stars-background, .ratings__stars-painted {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem; }
  .ratings__stars-invisible {
    visibility: hidden; }
  .ratings__stars-background {
    opacity: 0.3;
    color: #fff; }
  .ratings__stars-painted {
    background-color: #ffa500;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; }
  .ratings__star {
    padding: 0.25rem;
    font-size: 1.6rem; }
  .ratings__ratings-info {
    position: absolute;
    top: 2.5rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 3px;
    opacity: 0;
    background-color: #544d5c; }
  .ratings__no-ratings {
    font-size: 1.6rem;
    opacity: 0.6; }

.store-sidebar__filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem; }
  .store-sidebar__filters select {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px; }
  .store-sidebar__filters select:focus,
  .store-sidebar__filters select:active {
    outline: none;
    border-radius: 0px;
    box-shadow: 0 0 1px 7px rgba(169, 95, 255, 0.25); }
  .store-sidebar__filters option {
    background-color: rgba(10, 0, 22, 0.8); }
  .store-sidebar__filters option:checked {
    background-color: #6a3f9b; }

.store-sidebar h3 {
  margin-bottom: 1.5rem; }

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .search-container__advanced-search:link, .search-container__advanced-search:visited {
    background-color: rgba(209, 66, 95, 0.2);
    border: 1px solid #d1425f;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    color: #e8a1af;
    font-size: 1.4rem;
    font-weight: 600; }
  .search-container__advanced-search:hover {
    background-color: rgba(209, 66, 95, 0.6); }

.subscription-card {
  color: #2e2e2e;
  height: 70rem;
  width: 40rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  position: absolute;
  transition: all 0.2s; }
  .subscription-card--invisible-left {
    transform: scale(0.4);
    z-index: 1; }
  .subscription-card--far-left {
    transform: translateX(-120%) scale(0.6);
    z-index: 2; }
  .subscription-card--left {
    transform: translateX(-70%) scale(0.8);
    z-index: 3; }
  .subscription-card--active {
    z-index: 10; }
  .subscription-card--right {
    transform: translateX(70%) scale(0.8);
    z-index: 3; }
  .subscription-card--far-right {
    transform: translateX(120%) scale(0.6);
    z-index: 2; }
  .subscription-card--invisible-right {
    transform: scale(0.4);
    z-index: 1; }
  .subscription-card--peasant h3,
  .subscription-card--peasant button {
    background: linear-gradient(40deg, #3a3128, #645244); }
  .subscription-card--peasant button {
    -webkit-box-shadow: white 5px 5px 0px -2px, #3a3128 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, #3a3128 5px 5px;
    box-shadow: white 5px 5px 0px -2px, #3a3128 5px 5px; }
    .subscription-card--peasant button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, #3a3128 -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, #3a3128 -5px -5px;
      box-shadow: white -5px -5px 0px -2px, #3a3128 -5px -5px; }
  .subscription-card--peasant ul li i {
    color: #3a3128; }
  .subscription-card--blacksmith h3,
  .subscription-card--blacksmith button {
    background: linear-gradient(40deg, black 20%, #222222 25%, black 30% 60%, #464646 70%, black 80%); }
  .subscription-card--blacksmith button {
    -webkit-box-shadow: white 5px 5px 0px -2px, black 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, black 5px 5px;
    box-shadow: white 5px 5px 0px -2px, black 5px 5px; }
    .subscription-card--blacksmith button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, black -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, black -5px -5px;
      box-shadow: white -5px -5px 0px -2px, black -5px -5px; }
  .subscription-card--blacksmith ul li i {
    color: black; }
  .subscription-card--knight h3,
  .subscription-card--knight button {
    background: linear-gradient(40deg, #284728 10%, #0c1b0c 20%, #2d5c2d 40% 60%, #508050 70%, #264726 80%, #1d361d 85%); }
  .subscription-card--knight button {
    -webkit-box-shadow: white 5px 5px 0px -2px, #037403 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, #037403 5px 5px;
    box-shadow: white 5px 5px 0px -2px, #037403 5px 5px; }
    .subscription-card--knight button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, #037403 -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, #037403 -5px -5px;
      box-shadow: white -5px -5px 0px -2px, #037403 -5px -5px; }
  .subscription-card--knight ul li i {
    color: #037403; }
  .subscription-card--paladin h3,
  .subscription-card--paladin button {
    background: linear-gradient(50deg, #4e14ac, #1d004b, #130031); }
  .subscription-card--paladin button {
    -webkit-box-shadow: white 5px 5px 0px -2px, #4e14ac 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, #4e14ac 5px 5px;
    box-shadow: white 5px 5px 0px -2px, #4e14ac 5px 5px; }
    .subscription-card--paladin button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, #4e14ac -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, #4e14ac -5px -5px;
      box-shadow: white -5px -5px 0px -2px, #4e14ac -5px -5px; }
  .subscription-card--paladin ul li i {
    color: #4e14ac; }
  .subscription-card--wizard h3,
  .subscription-card--wizard button {
    background: linear-gradient(40deg, #380138 10%, #9e049e 35%, #290029 50%, #5e185e 65%, #290029 75%); }
  .subscription-card--wizard button {
    -webkit-box-shadow: white 5px 5px 0px -2px, purple 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, purple 5px 5px;
    box-shadow: white 5px 5px 0px -2px, purple 5px 5px; }
    .subscription-card--wizard button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, purple -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, purple -5px -5px;
      box-shadow: white -5px -5px 0px -2px, purple -5px -5px; }
  .subscription-card--wizard ul li i {
    color: purple; }
  .subscription-card--king h3,
  .subscription-card--king button {
    background: linear-gradient(40deg, #663b03 10%, #d87d07 25%, #663b03 40% 50%, #ffbc3e 70%, #663b03 95%); }
  .subscription-card--king button {
    -webkit-box-shadow: white 5px 5px 0px -2px, #7e6015 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, #7e6015 5px 5px;
    box-shadow: white 5px 5px 0px -2px, #7e6015 5px 5px; }
    .subscription-card--king button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, #7e6015 -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, #7e6015 -5px -5px;
      box-shadow: white -5px -5px 0px -2px, #7e6015 -5px -5px; }
  .subscription-card--king ul li i {
    color: goldenrod; }
  .subscription-card--dragon h3,
  .subscription-card--dragon button {
    background: linear-gradient(40deg, #160004 15%, #42111a 20%, #160004 25% 35%, #2e010a 45%, crimson 60%, #2e010a 75%, #160004 80%); }
  .subscription-card--dragon button {
    -webkit-box-shadow: white 5px 5px 0px -2px, #361017 5px 5px;
    -moz-box-shadow: white 5px 5px 0px -2px, #361017 5px 5px;
    box-shadow: white 5px 5px 0px -2px, #361017 5px 5px; }
    .subscription-card--dragon button:hover {
      -webkit-box-shadow: white -5px -5px 0px -2px, #361017 -5px -5px;
      -moz-box-shadow: white -5px -5px 0px -2px, #361017 -5px -5px;
      box-shadow: white -5px -5px 0px -2px, #361017 -5px -5px; }
  .subscription-card--dragon ul li i {
    color: crimson; }
  .subscription-card__info {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem; }
  .subscription-card__title {
    font-size: 3.6rem;
    font-weight: 100;
    text-align: center;
    padding: 3rem;
    color: #fff;
    width: 100%; }
  .subscription-card__button {
    position: relative;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 2rem;
    border-radius: 7px;
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    transition: all 0.2s; }
    .subscription-card__button span {
      position: relative;
      z-index: 20; }
    .subscription-card__button:hover {
      transform: translateY(-2px); }
  .subscription-card__price {
    display: flex;
    flex-direction: column;
    color: #666;
    position: relative; }
    .subscription-card__price p {
      margin: 0; }
    .subscription-card__price--year-box {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 1rem; }
    .subscription-card__price--month .subscription-card__price--number {
      font-size: 6rem; }
    .subscription-card__price--month .subscription-card__price--faded {
      font-size: 3rem; }
    .subscription-card__price--year {
      font-size: 2.4rem; }
    .subscription-card__price--faded {
      font-size: 2rem; }
    .subscription-card__price--scratched {
      text-decoration: line-through;
      font-size: 1.4rem; }
    .subscription-card__price--off {
      background-color: #426442;
      color: #fff;
      font-size: 1.4rem;
      padding: 0.5rem;
      border-radius: 3px; }
  .subscription-card__comment {
    opacity: 0.5;
    font-size: 1.6rem;
    text-align: center; }
  .subscription-card__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%; }
    .subscription-card__list li {
      display: flex;
      align-items: center;
      gap: 2rem;
      border-bottom: 1px solid rgba(46, 46, 46, 0.1);
      padding: 1rem 0;
      font-size: 1.6rem; }

.step {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem; }
  .step p {
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    color: #6c6673; }
  .step--2, .step--4 {
    flex-direction: row-reverse; }
  .step__content {
    width: 70rem; }
  .step__text {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
  .step__heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;
    font-size: 6rem;
    font-weight: 100;
    position: relative;
    color: #3b3345; }
    .step__heading--num {
      color: #0a0016;
      font-size: 8rem;
      font-weight: 600;
      opacity: 0.4; }
    .step__heading--text, .step__heading--num {
      position: relative;
      z-index: 2; }
    .step__heading::after {
      content: "";
      z-index: 1;
      position: absolute;
      top: 1.5rem;
      left: 4.6rem;
      height: 5rem;
      width: 21rem;
      background-color: #b59fcd; }
    .step__heading::before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 7rem;
      height: 1rem;
      width: 22rem;
      background-color: #a95fff; }
  .step__img {
    position: relative;
    border-radius: 3px;
    height: 400px;
    width: 250px; }
    .step__img img {
      position: relative;
      z-index: 10; }
    .step__img::after {
      content: "";
      z-index: 20;
      position: absolute;
      bottom: 2rem;
      right: 10rem;
      height: 10%;
      width: 80%;
      background-color: rgba(230, 230, 247, 0);
      opacity: 0.8;
      background: repeating-linear-gradient(45deg, black, black 5.5px, rgba(230, 230, 247, 0) 5.5px, rgba(230, 230, 247, 0) 27.5px); }
    .step__img::before {
      content: "";
      z-index: 1;
      position: absolute;
      top: -10%;
      left: -5rem;
      height: 80%;
      width: 160%;
      background-color: transparent;
      opacity: 0.8;
      background-image: radial-gradient(#6a3f9b 2px, transparent 2px);
      background-size: 40px 40px; }

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; }
  .error404 > * {
    z-index: 10; }
  .error404__icon {
    color: #fff;
    font-size: 13rem;
    opacity: 0.5; }
  .error404__title {
    color: #fff;
    font-size: 20rem;
    opacity: 0.8; }
  .error404__subtitle {
    color: #fff;
    font-size: 5rem;
    opacity: 0.8;
    margin-top: -3rem; }
  .error404__btn {
    transition: all 0.2s;
    font-size: 2.5rem;
    margin-top: 4rem;
    text-transform: uppercase;
    color: #e97cec;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    .error404__btn:hover, .error404__btn:focus {
      transform: translateY(-2px);
      border-color: #e97cec; }

.home {
  background: linear-gradient(rgba(10, 0, 22, 0.4), rgba(10, 0, 22, 0.4)), url("/src/assets/mythical-books-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden; }

.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  .hero::before, .hero::after {
    position: absolute;
    top: 0;
    content: "";
    height: 100%;
    z-index: 1; }
  .hero::before {
    width: 70%;
    left: 15%;
    right: 25%;
    transform: skew(50deg);
    background: linear-gradient(to bottom, transparent 5%, rgba(86, 1, 134, 0.4) 40%, transparent 90%); }
  .hero::after {
    width: 100%;
    left: -50%;
    right: 25%;
    transform: skew(-60deg);
    background: linear-gradient(to right, transparent 50%, rgba(29, 0, 75, 0.8)); }
  .hero__content {
    position: absolute;
    z-index: 10;
    left: 30%;
    bottom: 50%;
    transform: rotate(-30deg);
    color: white; }
  .hero__title {
    font-size: 8rem;
    font-weight: 100;
    font-family: "Quintessential", cursive; }
  .hero__slogan {
    position: absolute;
    bottom: -1rem;
    right: -12rem;
    font-size: 3rem;
    opacity: 0.7; }
    .hero__slogan span {
      position: relative; }
    .hero__slogan span::before {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      height: 0.3rem;
      width: 100%;
      background-color: white; }

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  width: 100vw;
  background-color: #fff;
  color: #0a0016; }
  .works h2 {
    font-family: "Quintessential", cursive;
    text-align: center;
    font-size: 6rem;
    font-weight: 100;
    color: #fff; }
  .works__heading {
    margin-bottom: 6rem; }
    .works__heading h2 {
      color: #0a0016; }
    .works__heading p {
      font-size: 2rem;
      margin-top: -1rem; }
  .works__steps {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    width: 70%;
    padding: 4rem 0; }

.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100rem;
  width: 100vw;
  padding: 8rem 2rem;
  color: #fff;
  background-color: #131313; }
  .subscription h2 {
    font-family: "Quintessential", cursive;
    text-align: center;
    font-size: 6rem;
    font-weight: 100;
    color: #fff; }
  .subscription__heading {
    position: relative; }
    .subscription__heading h2,
    .subscription__heading p {
      position: relative;
      z-index: 3; }
    .subscription__heading h2 {
      font-size: 6rem; }
    .subscription__heading p {
      font-size: 2rem; }
    .subscription__heading::before {
      content: "";
      position: absolute;
      right: -10%;
      top: -35%;
      z-index: 2;
      height: 100%;
      width: 80%;
      background: linear-gradient(90deg, #131313 12px, transparent 1%) center, linear-gradient(#131313 12px, transparent 1%) center, #505050;
      background-size: 13px 13px; }
    .subscription__heading::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      z-index: 1;
      height: 0.3rem;
      width: 10rem;
      background-color: #fff; }
  .subscription__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 50%;
    font-size: 4rem;
    color: #fff;
    background-color: rgba(41, 30, 99, 0.7);
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
    .subscription__arrow--left {
      left: 35%; }
    .subscription__arrow--right {
      right: 35%; }
  .subscription__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 80rem;
    width: 100%; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .login__content {
    padding: 4rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    height: 50rem;
    width: 80rem; }
  .login__title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 1.2rem;
    color: #6a3f9b; }
  .login__comment {
    color: #6a3f9b;
    font-size: 1.6rem;
    margin-top: 1.5rem; }
  .login__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    gap: 4rem; }
  .login__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; }
    .login__cta button {
      background-color: transparent;
      font-size: 1.4rem; }

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .register__content {
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 3rem;
    padding: 4rem;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 120rem;
    height: 90vh;
    overflow: auto; }
  .register__title {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 1.2rem;
    color: #6a3f9b; }
  .register__comment {
    color: #6a3f9b;
    font-size: 1.6rem;
    margin-top: 1.5rem; }
  .register__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem; }
    .register__form--joined {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      gap: 6rem; }
  .register__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 2rem; }
    .register__cta button {
      background-color: transparent;
      font-size: 1.4rem; }

.store {
  display: grid;
  grid-template-columns: 2fr 6fr;
  min-height: 100vh;
  background-color: #150d1f; }
  .store__bookshelf {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 7rem 4rem; }
  .store__sidebar {
    background-color: rgba(77, 50, 75, 0.4);
    padding: 7rem 2rem; }
    .store__sidebar h3 {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 1rem;
      font-size: 3rem;
      font-weight: 100; }
  .store__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #6a3f9b;
    padding: 0.1rem;
    padding-right: 1rem;
    border-radius: 3px; }
    .store__search input,
    .store__search button {
      color: #cccccc; }
    .store__search label {
      display: none; }
    .store__search input {
      z-index: 2;
      background-color: #231a2d;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 3px;
      width: 40rem; }
    .store__search input:focus {
      background-color: #3b3345; }
    .store__search button {
      font-size: 1.4rem;
      z-index: 1;
      cursor: pointer;
      background-color: transparent; }
