.error404 {
  @include flexCenter;
  flex-direction: column;
  height: 100vh;

  & > * {
    z-index: 10;
  }

  &__particles {
    z-index: 1;
  }

  &__icon {
    color: $color-white;
    font-size: 13rem;
    opacity: 0.5;
  }

  &__title {
    color: $color-white;
    font-size: 20rem;
    opacity: 0.8;
  }

  &__subtitle {
    color: $color-white;
    font-size: 5rem;
    opacity: 0.8;
  }
}
